/* 
.fa-trash,
.fa-edit {
  pointer-events: none;
} */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #eee;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}
#login {
  margin-top: 8%;
  height: auto;
  width: 30%;
  display: block;
  border-radius: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 10px;

  background-color: #29b1d1;
}

.userimage i {
  background-color: #4d4d4d;
  color: #29b1d1;
  margin-top: -5rem;
  border: 15px solid #eee;
  font-size: 5rem;
  border-radius: 50%;
  padding: 1rem 1.7rem;
}

form {
  width: 70%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.inputfield {
  display: flex;
  border-radius: 5px;
  justify-content: start;
  align-content: center;
  margin: 10px;
  height: 30px;
  background-color: #eee;
  overflow-x: scroll;
}
.exploreLocation::-webkit-scrollbar {
  width: 0;
}

.inputfield i {
  text-align: center;
  min-width: 40px;
  height: 30px;
  font-size: 20px;
  color: #eee;
  background-color: #4d4d4d;
  padding: 5px 10px;
}

.inputfield input {
  font-weight: 100;
  color: #4d4d4d;
  font-size: 15px;
  flex: 1;
  border: none;
  padding-left: 10px;
  outline: none;
}

form button {
  word-spacing: 2px;
  font-size: 20px;
  background-color: #4d4d4d;
  color: #eee;
  border-radius: 5px;
  border: none;
  height: 40px;
  margin: 50px 0px;
}

.signuptext {
  text-align: center;
  margin: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
}
.signuptext a {
  color: #eee;
  cursor: pointer;
}
.signuptext a:hover {
  text-decoration: underline;
}

.closed {
  display: none;
}
.open {
  display: flex;
}
.errormessage {
  font-weight: 900;
  letter-spacing: 1px;
  color: rgb(255, 71, 71);
  font-size: 15px;
  word-spacing: 5px;
  text-transform: capitalize;
  padding-left: 20px;
}

@media screen and (max-width: 460px) {
  #login {
    margin-top: 40%;
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 460px) and (max-width: 760px) {
  #login {
    margin-top: 20%;

    width: 80%;
  }
}

@media screen and (min-width: 760px) and (max-width: 960px) {
  #login {
    margin-top: 20%;

    width: 60%;
  }
}
